{% extends "ecommerce/base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h2>Contact Us</h2>
				<br />
				<table class="table">
					<tr>	
						<th><i class="fa fa-home fa-1x"></i> ที่อยู่:</th>               
						<td> แหล่งกบดาน "ลุงวิศวกร สอนคำนวณ" 55
								BTS สนามเป้า อาคารวิเศษศิริ ชั้น 3 ห้อง 301 (ลง BTS ทางออก 4 เดินมา 10 ก้าว ก็เจอตึกเลย)</td>
					</tr>
					<tr>
						<th><i class="fa fa-envelope fa-1x"></i> อีเมล์:</th>
						<td><a href="mailto:">@gmail.com</a></td>
					</tr>
					<tr>
						<th><i class="fa fa-link fa-1x"></i> Fanpage :</th>
						<td><a href="https://www.facebook.com/UncleEngineer/">ลุงวิศวกร สอนคำนวณ</a></td>
					</tr>
				</table>
				<br >
				
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.1014536564817!2d100.5422227500223!3d13.77275498803542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29ea5c07b8bb5%3A0xfad37c2a2c2bcb7f!2z4Lit4Liy4LiE4Liy4Lij4Lin4Li04LmA4Lio4Lip4Lio4Li04Lij4Li0IDIyNiBQaGFob255b3RoaW4gUmQsIEtod2FlbmcgU2Ftc2VuIE5haSwgS2hldCBQaGF5YSBUaGFpLCBLcnVuZyBUaGVwIE1haGEgTmFraG9uIDEwNDAw!5e0!3m2!1sen!2sth!4v1561701285059!5m2!1sen!2sth" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
       

{% endblock %}